* {
    background-color: dodgerblue;
}

.navbar>.container-fluid {
    height: 72px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;

}

.nav-link {
    color: #c23e6a;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #c23e6a;
    padding: 8px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


.sdesliz {
    background-color: #c23e6a;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

h2,
.bi1,
.bi2 {
    background-color: #c23e6a;
}

.arrow {
    color: black;
}

.d-flex {
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.form-control {
    width: 400px;
    margin-top: 10px;
    background-color: dodgerblue;
    border: 3px solid #c23e6a;;
    color:#c23e6a;;
}
.checks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.events{
    width: 65%;
}



fieldset{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
}

.class_checks{
    margin-left: 10px;
}
input#id_busqueda{
    margin-right: 30px;
}
.btn-pink {
    color: #c23e6a;
    border: 2px solid #c23e6a;
    font-weight: bold;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.card-img-top {
    box-shadow: inset -10px -10px 0 rgb(184, 84, 145);
    border-radius: 5px;
    height: 200px;
    border-bottom: 4px solid #c23e6a;
}

.card, .cardUpcoming, .cardPast {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: dodgerblue;
    border: 4px solid #c23e6a;
}

.card-title {
    display: flex;
    justify-content: center;
    color: #c23e6a;
    font-weight: bolder;
}
.card-body {
    height: 150px;
}
.card-footer {
    background-color: dodgerblue;
    border-top: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: baseline;
}

.mas {
    border: 4px solid #c23e6a;
    color: #c23e6a;
    width: 110px;
    text-decoration: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.searchp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}
.filtrosp {
    width: 1350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*details*/

.c-home {
    height: 520px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.imagendiv {
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-home {
    border: 2px solid black;
    border-radius: 5px;
    width: 480px;
    height: 330px;
    display: flex;
    justify-content: flex-start;
        
}
.contenido {
    width: 500px;
}
.close {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.bix {
    color: black;
    width: 25px;
}

.tch5 {
    display: flex;
    justify-content: center;
    font-weight: 800;
}

#fecha, #categoria, #lugar, #capacidad, #asistencia, #precio {
    margin-top: -20px;
    margin-left: 100px;
}

/*fin details*/


footer {
    width: 100%; 
    position: relative;
    display: block;
    margin-bottom: 0;
    padding-top: 15px;

}

.lista-redes {
    background-color: #c23e6a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.redes {
    background-color: #c23e6a;
    border: none;
}

h4 {
    background-color: #c23e6a;
    margin-right: 100px;
    font-size: 30px;
    font-weight: bold;
}

.bii,
.bif,
.biw {
    color: black;
    background-color: #c23e6a;
}

.scontact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 445px;
}

.fcontact {
    width: 500px;
    height: 390px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    color: #c23e6a;
    font-weight: bold;
}

.sstats {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.tstats {
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

}

.psub {
    font-size: 22px;
    font-weight: bold;
    background-color: cornflowerblue;
    color: #c23e6a;
}

.table1,
.table2,
.table3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: cornflowerblue;
    
}

.t1th1,
.t2th1,
.t3th1 {
    width: 390px;
    color: #c23e6a;
}

.t1th2,
.t2th2,
.t3th2 {
    width: 390px;
    color: #c23e6a;
}

.t1th3,
.t2th3,
.t3th3 {
    width: 320px;
    color: #c23e6a;
}

@media (min-width: 320px) and (max-width: 424.98px) {
    .navbar>.container-fluid {
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .list-category {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .form-control {
        width: 250px;
    }

    .tstats {
        width: 320px;
    }

    /*details*/
    .c-home {
        height: 800px;
    }
    .imagendiv {
        width: 320px;
    }
    .img-home {
        width: 310px;
    }
    
}

@media (min-width: 425px) and (max-width: 575.98px) {
    .navbar>.container-fluid {
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista {
        height: 80px;
        align-content: space-between;
    }

    .list-category {
        width: 300px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tstats {
        width: 420px;
    }

     /*details*/
     .c-home {
        height: 800px;
    }
    .imagendiv {
        width: 425px;
    }
    .img-home {
        width: 410px;
    }
}

@media (min-width: 576px) and (max-width: 639.98px) {
    .navbar>.container-fluid {
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lista {
        height: 80px;
        align-content: space-between;
    }

    .list-category {
        width: 300px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tstats {
        width: 570px;
    }
    
    /*details*/
    .c-home {
        height: 800px;
    }
}

@media (min-width: 640px) and (max-width: 767.98px) {
    .navbar>.container-fluid {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lista {
        height: 40px;
    }

    .list-category {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tstats {
        width: 640px;
    }

    /*details*/
    .c-home {
        height: 800px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar>.container-fluid {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lista {
        height: 40px;
    }

    .list-category {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tstats {
        width: 750px;
    }
    
    /*details*/
    .c-home {
        height: 800px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .tstats {
        width: 990px;
    }

    /*details*/
    .c-home {
        height: 800px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .d-flex {
        padding-top: 30px;
    }

    .card-list {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .fcontact {
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .tstats {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}